# Python
**/__pycache__/
**/.venv/
**/.mypy_cache/

# Node.js
**/node_modules/
**/dist/

# Readme
**/README
**/README.*

# Git
**/.git/
**/.gitignore

# Docker
**/.dockerignore
**/Dockerfile
**/Dockerfile.dev
**/docker-compose.yml
**/docker-compose.dev.yml
